/*=====global=====*/
html,
body {
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;

  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  font-family: "Fira Sans", "Arial", sans-serif;
  color: #000000;
  font-style: normal;

  background: white;
}

.container {
  width: 320px;
  margin: 0 auto;
}

/*=====sprite=====*/
.sprite {
  display: block;

  background-image: url("../img/spritesheet.png");
  background-repeat: no-repeat;
}

.sprite-bus-icon {
  width: 50px;
  height: 29px;

  background-position: -10px -10px;
}

.sprite-train-icon {
  width: 58px;
  height: 26px;

  background-position: -10px -59px;
}

.sprite-vk-icon {
  width: 22px;
  height: 13px;

  background-position: -10px -105px;
}

/*=====header=====*/
.page-header {
  padding-top: 15px;
  padding-bottom: 21px;
}

.page-header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  width: 320px;
  margin: 0 auto;

  -webkit-box-pack: center;
  -ms-flex-pack: center;
}

.page-logo {
  padding-left: 30px;
}

.main-navigation__toggler {
  position: relative;
  top: 17px;
  left: 37px;
}

.main-navigation__toggler-elem {
  display: block;
  width: 30px;
  height: 5px;

  background-color: #ff7435;
}

.main-navigation__toggler-elem::before {
  content: "";
  position: absolute;
  top: 10px;

  width: 30px;
  height: 5px;

  background-color: #ff7435;
}

.main-navigation__toggler-elem::after {
  content: "";
  position: absolute;
  top: 20px;

  width: 30px;
  height: 5px;

  background-color: #ff7435;
}

.main-navigation__list {
  display: none;
}

.page-header__contacts {
  display: none;
}

.btn--icon {
  display: none;
}

/*=====main=====*/
.hero-section {
  min-height: 321px;
  padding-top: 20px;

  background: url("../img/bg-1.jpg") no-repeat;
}

.hero-section__wrapper {
  padding-top: 4px;
  padding-bottom: 3px;

  background-color: #ffffff;
  opacity: 0.9;
}

.hero-section__header {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;

  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  font-family: "PT Serif Caption", "Arial", sans-serif;
  text-align: center;
  color: #1c1c1c;
  letter-spacing: 1px;
}

.hero-section__text {
  margin: 0;
  padding: 0;

  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #1c1c1c;
}

.features {
  min-height: 355px;

  background: url("../img/bg-2.jpg") no-repeat;
}

.tab__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;

  list-style: none;

  -webkit-box-pack: center;
  -ms-flex-pack: center;
}

.tab__item {
  position: relative;
  /*padding-left: 21px;*/

  letter-spacing: 1px;
}

.tab__item:last-of-type {
  padding-left: 21px;
}

.tab__link {
  font-size: 14px;
  line-height: 1.4;
  color: #838383;
  text-transform: uppercase;
  text-decoration: none;
}

.tab__link--orange {
  color: #ff7435;
}

.tab__link--orange::after {
  content: "";
  position: absolute;
  top: 21px;
  left: 52px;

  width: 30px;
  height: 2px;

  background-color: #ff7435;
}

.tab-content {
  padding-top: 32px;
}

.page-title {
  padding-bottom: 7px;

  font-weight: 400;
  font-size: 26px;
  line-height: 1.3;
  font-family: "PT Serif Caption", "Arial", sans-serif;
  text-align: center;
  letter-spacing: 1px;
}

.tab-content__text {
  font-size: 16px;
  line-height: 22px;
  text-align: center;
}

.advantages {
  display: none;
}

.gallery {
  margin-bottom: 45px;
}

.preview {
  display: none;
}

.feedback__wrapper {
  background-color: #10b096;
}

.page-title--white {
  margin: 0;
  padding-top: 61px;
  padding-bottom: 51px;

  color: #ffffff;
}

.feedback-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  align-items: center;

  -webkit-box-align: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -ms-flex-align: center;
}

.feedback-card:nth-child(2) {
  display: none;
}

.feedback-card__image {
  margin-top: -25px;
  margin-bottom: 5px;
}

.feedback-card__name {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 1px;
}

.feedback-card__link {
  display: block;
  width: 22px;
  height: 13px;

  font-size: 0;

  background-image: url("../img/spritesheet.png");
  background-repeat: no-repeat;
  background-position: -10px -105px;
}
