html,
body {
  margin: 0;
  padding: 0;
}

body {
  width: 320px;

  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  font-family: "Fira Sans", "Arial", sans-serif;
  color: #000000;
  font-style: normal;

  background: white;
}

.sprite {
  display: block;

  background-image: url(spritesheet.png);
  background-repeat: no-repeat;
}

.sprite-bus-icon {
  width: 50px;
  height: 29px;

  background-position: -10px -10px;
}

.sprite-train-icon {
  width: 58px;
  height: 26px;

  background-position: -10px -59px;
}

.sprite-vk-icon {
  width: 22px;
  height: 13px;

  background-position: -10px -105px;
}

/*=====header=====*/
.main-navigation__list {
  display: none;
}

.page-header__contacts {
  display: none;
}

.btn--icon {
  display: none;
}

.main-navigation__toggler {
  position: relative;
  top: 15px;
}

.main-navigation__toggler-elem {
  display: block;
  width: 30px;
  height: 5px;

  background-color: #ff7435;
}

.main-navigation__toggler-elem::before {
  content: "";
  position: absolute;
  top: 8px;

  width: 30px;
  height: 5px;

  background-color: #ff7435;
}

.main-navigation__toggler-elem::after {
  content: "";
  position: absolute;
  top: 16px;

  width: 30px;
  height: 5px;

  background-color: #ff7435;
}

.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  padding-top: 15px;

  -webkit-box-pack: center;
  -ms-flex-pack: center;
}

.page-logo {
  margin-right: 35px;
}

.hero-section {
  background: url("../img/bg-1.jpg") no-repeat; min-height: 321px;
}
